@import url("https://fonts.googleapis.com/css2?family=Lobster&family=PT+Serif:ital,wght@1,700&family=Sora:wght@200&display=swap");
font-family: "Lobster", cursive;
font-family: "PT Serif", serif;
font-family: "Sora", sans-serif;
/* Find a "noteworthy font" for Paragraph stuff on page, ask teacher for help on where to look. */
PT Serif heding font
