@import url("https://fonts.googleapis.com/css2?family=Lobster&family=PT+Serif:ital,wght@1,700&family=Sora:wght@200&display=swap");
font-family: "Lobster", cursive;
font-family: "PT Serif", serif;
font-family: "Sora", sans-serif;
/* Find a "noteworthy font" for Paragraph stuff on page, ask teacher for help on where to look. */
PT Serif heding font :root {
  --ghost-white: #f2f1f7ff;
  --wild-blue-yonder: #b2afc9ff;
  --light-french-beige: #d3b883ff;
  --powder-blue: #bbd9dbff;
  --cadet-blue: #7fabaeff;
  --air-superiority-blue: #6d91a9ff;
}

body {
  background-color: #7fabaeff;
  margin: 0;
}
.logo {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 100px;
}
nav {
  background-color: #d3b883ff;
  margin: 0 auto;
  height: 100px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}
nav a {
  padding: 35px;
}

nav a:hover {
  background-color: #f2f1f7ff;
  padding: 35px;
}

nav a p {
  margin: 0 auto;
}
main {
  max-width: 1600px;
  margin: 0 auto;
}

footer {
  background-color: #d3b883ff;
  padding: 15px;
  margin-top: 20px;
}
.tm {
}
.social {
}
.icon {
  display: inline;
  font-size: 45px;
  padding: 10px 30px;
}
.footer_links {
  float: right;
}

@media screen and (max-width: 900px) {
  nav,
  footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }

  footer {
    margin-top: 25px;
  }
}
