@import url("https://fonts.googleapis.com/css2?family=Lobster&family=PT+Serif:ital,wght@1,700&family=Sora:wght@200&display=swap");
/* font-family: "Lobster", cursive, "PT Serif", serif, "Sora", sans-serif;
font-family: "PT Serif", serif;
font-family: "Sora", sans-serif; */
/* Find a "noteworthy font" for Paragraph stuff on page, ask teacher for help on where to look. */
PT Serif heding font :root {
  --ghost-white: #f2f1f7ff;
  --wild-blue-yonder: #b2afc9ff;
  --light-french-beige: #d3b883ff;
  --powder-blue: #bbd9dbff;
  --cadet-blue: #7fabaeff;
  --air-superiority-blue: #6d91a9ff;
}

body {
  background-color: #7fabaeff;
  margin: 0;
  color: #f2f1f7ff;
  font-family: "Lobster", cursive, "PT Serif", serif, "Sora", sans-serif;
}
.logo {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 100px;
}
nav {
  background-color: #d3b883ff;
  margin: 0 auto;
  height: 100px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  font-family: "Lobster", cursive, "PT Serif", serif, "Sora", sans-serif;
}
nav a {
  padding: 35px;
  width: 12.5%;
  border-top: solid 5px rgb(192, 167, 118);
  border-bottom: solid 5px rgb(192, 167, 118);
  border-left: solid 2px rgb(192, 167, 118);
  border-right: solid 2px rgb(192, 167, 118);
}

nav a:hover {
  background-color: #bbd9dbff;
  padding: 35px;
}

.sign_in {
  padding: 25px;
}

.sign_in:hover {
  background-color: #bbd9dbff;
  padding: 25px;
}
nav a p {
  margin: 0 auto;
}
main {
  max-width: 1600px;
  margin: 0 auto;
}

footer {
  background-color: #d3b883ff;
  padding: 15px;
  margin-top: 20px;
  border: solid 5px rgb(192, 167, 118);
}
.tm {
  margin-left: 35px;
  font-family: "Sora", sans-serif;
  width: 33%;
}
.social {
  width: 33%;
}
.icon {
  display: inline;
  font-size: 45px;
  padding: 10px 30px;
}

.footer_links {
  font-family: "Lobster", cursive, "PT Serif", serif, "Sora", sans-serif;
  text-align: center;
  float: right;
  width: 66%;
}
.footer_links a {
  padding: 15px;
  width: 20%;
}

@media screen and (max-width: 1383px) {
  .tos {
    padding-top: 25px;
  }
  .tos:hover {
    padding-top: 25px;
  }
}
@media screen and (max-width: 1018px) {
  .tos,
  .tos:hover {
    padding-top: 15px;
  }
  .sign_in {
    padding-top: 20px;
  }
}

@media screen and (max-width: 900px) {
  nav,
  footer {
    flex-direction: column;
  }
  nav {
    height: 520px;
  }
  nav a {
    display: block;
    width: 100%;
    height: 12.5%;
    padding: 15px;
    border-top: solid 3px rgb(192, 167, 118);
    border-bottom: solid 3px rgb(192, 167, 118);
    border-left: solid 5px rgb(192, 167, 118);
    border-right: solid 5px rgb(192, 167, 118);
  }
  nav a:hover {
    padding: 15px;
  }
  .sign_in,
  .sign_in:hover {
    padding: 10px;
  }
  footer {
    margin-top: 25px;
  }
}
