PT Serif heding font :root {
  --ghost-white: #f2f1f7ff;
  --wild-blue-yonder: #b2afc9ff;
  --light-french-beige: #d3b883ff;
  --powder-blue: #bbd9dbff;
  --cadet-blue: #7fabaeff;
  --air-superiority-blue: #6d91a9ff;
}
