@import url("https://fonts.googleapis.com/css2?family=Lobster&family=PT+Serif:ital,wght@1,700&family=Sora:wght@200&display=swap");
font-family: "Lobster", cursive;
font-family: "PT Serif", serif;
font-family: "Sora", sans-serif;
/* Find a "noteworthy font" for Paragraph stuff on page, ask teacher for help on where to look. */
PT Serif heding font :root {
  --ghost-white: #f2f1f7ff;
  --wild-blue-yonder: #b2afc9ff;
  --light-french-beige: #d3b883ff;
  --powder-blue: #bbd9dbff;
  --cadet-blue: #7fabaeff;
  --air-superiority-blue: #6d91a9ff;
}

body {
  background-color: #7fabaeff;
  margin: 0;
}
.logo {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 100px;
}
nav {
  background-color: #d3b883ff;
  margin: 0 auto;
  height: 100px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}
nav a {
  padding: 35px;
}

nav a:hover {
  background-color: #f2f1f7ff;
  padding: 35px;
}

nav a p {
  margin: 0 auto;
}
main {
  max-width: 1600px;
  margin: 0 auto;
}

.bio {
  background-color: #b2afc9ff;
  height: 400px;
  margin-bottom: 50px;
}
.bio h1 {
  font-family: "Lobster", cursive;
  text-align: center;
  padding-top: 25px;
}
.bio img {
  width: 200px;
  float: right;
  padding-right: 50px;
}
.bio p {
  text-align: justify;
  padding: 30px;
}
.peekaboo {
  display: block;
  margin: 0 auto;
  padding: 30px;
  width: 400px;
  height: 100px;
  border: solid black 1px;
}
.gallary_box {
  background-color: #b2afc9ff;
  margin: 0 auto;
  overflow-x: auto;
}
.gallary img {
  width: 450px;
  margin: 0px;
  display: inline;
}

footer {
  background-color: #d3b883ff;
}

@media screen and (max-width: 900px) {
  #hero,
  .home-grid {
    display: block;
    height: auto;
  }
  header {
    grid-template-columns: auto;
  }
  nav,
  footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }
  footer {
    margin-top: 25px;
  }
}
