.red {
  color: red;
}

.blue {
  color: blue;
}
.green {
  color: green;
  font-size: xx-large;
}
/*Ids are used for java script primarily and in CSS will override classes.*/
#small_purple {
  font-size: 200%;
  color: purple;
}
