h1 {
  color: blue;
  background-color: aqua;
  text-align: center;
  margin-top: 300px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px;
}

/* .awesomeHeading {
  color: brown;
} */

.stuff {
  color rgb(138, 24, 159)
  background-color: ;
  border: ;
  border-radius: ;
  




}
